.date-block{
    width: calc(100%/7);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
}
.date-block:hover{
    background-color: rgb(10, 175, 147);
}
.ease-in-out{
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
}
.todo-item{
    cursor: pointer;
}
.todo-item:hover{
    background-color: azure !important;
    color: rgb(32, 32, 32) !important;
}