{% extends 'base.html' %}

{% block main %}
<h1 class="mx-auto text-white text text-center my-1 display-5">
  {{ month }}
</h1>
<div class="d-flex justify-content-center w-100 container-xxl mt-5">
  <div class="w-75 border-start border-top d-flex flex-wrap bg-dark">
      {% for day in startday %}
      <div class="date-block border-end border-bottom"></div>  
      {% endfor %}
      {% for day in days %}
      <a class="date-block border-end border-bottom text-decoration-none text-white" href="day={{ day.num }}">
        {{ day.num }}
      </a>
      {% endfor %}
    </div>
  </div>
{% endblock main %}