{% extends 'base.html' %}

{% block main %}
    <h1 class="display-1">
        {{ date }}
    </h1>
    <div class="w-100 container-xxl d-flex justify-content-center flex-wrap text-white">
        <div class="w-100 row bg-dark mt-5">
            <div class="col-2 d-flex align-items-center justify-content-center">
                یکشنبه ۱۸ دی
            </div>
            <div class="col-5 d-flex align-items-center justify-content-center">
                صبح
            </div>
            <div class="col-5 d-flex align-items-center justify-content-center py-3">
                بعد از ظهر
            </div>
        </div>
        <div class="w-100 row">
            <div class="col-2 border-top border-end d-flex align-items-start justify-content-end">
                ۱
            </div>
            <a class="col-5 border-top border-end d-flex align-items-center py-3 text-decoration-none text-white ease-in-out todo-item">
                ملاقات با داداش
            </a>
            <a class="col-5 border-top d-flex align-items-center py-3 text-decoration-none text-white ease-in-out todo-item">
                برنامه ای ندارد
            </a>
        </div>
    </div>
{% endblock main %}