{% extends 'base.html' %}

{% block main %}
    <h1 class="display-1 text-center">
        {{ date }}
    </h1>
    <div class="w-100 container-xxl d-flex justify-content-center flex-wrap text-white">
        <div class="w-100 row bg-dark mt-5">
            <div class="col-2 d-flex align-items-center justify-content-center">
                یکشنبه ۱۸ دی
            </div>
            <div class="col-5 d-flex align-items-center justify-content-center">
                صبح
            </div>
            <div class="col-5 d-flex align-items-center justify-content-center py-3">
                بعد از ظهر
            </div>
        </div>
        <div class="w-100 row border border-top-0 bg-body-tertiary">
            {% for todo in todos %}
                <div class="col-2 border-top border-end d-flex align-items-start justify-content-end">
                    {{ todo.0.hour }}
                </div>
                <a class="col-5 border-top border-end d-flex align-items-center py-3 text-decoration-none text-white ease-in-out todo-item" href="{{ todo.0.hour }}">
                    {{ todo.0.title }}
                </a>
                <a class="col-5 border-top d-flex align-items-center py-3 text-decoration-none text-white ease-in-out todo-item" href="{{ todo.1.hour }}">
                    {{ todo.1.title }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock main %}