<header class="d-flex justify-content-center bg-body-tertiary">
    <nav class="navbar navbar-expand-lg bg-body-tertiary w-100" style="max-width: 1350px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">خانه</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                    <li class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center ms-5 nav-link active">
                        <div class="me-lg-3">
                            {{ request.user.username }}
                        </div>
                        <a href="{% url 'logout' %}" class="text-decoration-none link-light text-small">
                            خروج
                        </a>
                    </li>
                {% else %}
                    <li class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center ms-5 nav-link active">
                        <a href="{% url 'signup' %}" class="link-light text-decoration-none">
                            ثبت نام
                        </a>
                        <span class="mx-1 text-white">
                            /
                        </span>
                        <a href="{% url 'login' %}" class="link-light text-decoration-none">
                            ورود
                        </a>
                    </li>
                {% endif %}
            </ul>
                {% include 'search.html' %}
            </div>
        </div>
    </nav>
</header>